.hamburger_menu.move .hamburger_line:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}
.hamburger_menu.move .hamburger_line:nth-child(2) {
    opacity: 0;
}
.hamburger_menu.move .hamburger_line:nth-child(3) {
    transform: translateY(-7px) rotate(45deg);
}

.nav_menu.show {
    transform: translateX(0);
    transition: 0.5s all ease;
}

.nav_search.show {
    transform: translateX(0);
    transition: 0.5s all ease;
}

