body {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main,main.mainhome {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: start;
}

main.mainhome {
    align-items: center;
}

body.bodyhome {
    background-image: url("/img/bg_mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {

    body.bodyhome{
        background-image: url("/img/bg_desktop.jpg");
        background-size: 100% 100%;;
        background-repeat: no-repeat;
    }
}

/* ## Hrefs !anpassen! ## */

a.internal {
    text-decoration: none;
}



/* ## Top-Navigation ## */

.nav_top {
    padding: 10px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo_home {
    display: inline-block;
    background: url("/img/sys/logo_white.png") no-repeat center; 
    background-size: 40px 40px;
    width: 40px;
    height: 40px; 
}

a.logo {
    display: inline-block;
    background: url("/img/sys/logo_schwarz.png") no-repeat center; 
    background-size: 40px 40px;
    width: 40px;
    height: 40px; 
}

.nav_top ul{
    display: none;
}

/* Einblenden des Desktop-Menüs */
@media screen and (min-width: 600px) {

    .nav_top ul{
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: inline; 
    }

    .nav_top ul li {
        display: inline-block;
        list-style-type: none;
        padding: 0 15px;
    }
}

.menu_header,.menu_header_home,.footer_legal {
    position: relative; 
    top: 0;
    text-decoration: none;
}

.menu_header::after,.menu_header_home::after,.footer_legal::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; 
    height: 2px;
    background-color: currentColor; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu_header:hover::after,.menu_header_home:hover::after,.footer_legal:hover::after {
    transform: scaleX(1);
}

.nav_top .icon-wrapper {
    display: flex;
    justify-content: flex-end;
}

.search, .hamburger_menu {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 600px) {

    .hamburger_menu {
        display: none;
    }
}

.search_svg_home, .hamburger_svg_home {
    width: 20px;
    height: 20px;
    fill: #F9F8F4; 
}

.search_svg,.hamburger_svg  {
    width: 20px;
    height: 20px;
    fill: #000; 
}

nav.nav_breadcrumbs_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 90%;
}

ul.nav_breadcrumbs {
    padding: 5px 0px;
    list-style: none;
}

ul.nav_breadcrumbs li {
    display: inline;
    font-size: 14px;
    font-weight: 600;
}

ul.nav_breadcrumbs li+li:before {
    content: "/\00a0";
}

ul.nav_breadcrumbs li a {
    color: var(--font-color-gray);
    text-decoration: none;
}

ul.nav_breadcrumbs li a:hover {
color: var(--font-color);
text-decoration: underline;
}


/* ## Top-Navigation Ende ## */

/* ## Footer ## */

footer.footermain,footer.footerhome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

footer.footerhome {
    justify-content: flex-end;
}

footer.footermain {
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.40);
}

@media screen and (max-width: 600px) {
    footer.footerhome {
        justify-content: center;
    }
}

.footer_social ul {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer_social ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
}

.social_icon {
    margin: 0 5px;
}

.social_svg_home {
    width: 20px;
    height: 20px;
    fill: #F9F8F4; 
}

.social_svg {
    width: 20px;
    height: 20px;
    fill: #000; 
}

.footer_legacy ul {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer_legacy ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
}

/* ## Footer Ende ## */

/* ## Banner ## */

.banner {
    position: relative;
    width: 100%;
    text-align: center;
}

.banner_image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 250px;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.banner_headline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.article_banner {
    position: relative;
    width: 100%;
}

.article_banner_img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.article_banner_img_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 1;
}

.article_banner_headline {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        z-index: 2;
}

.article_banner_subheadline {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90%;
    z-index: 2;
}

.article_banner_breadcrumbs{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    z-index: 2;
}

/* ## Cards-Layout (guides.html) ## */

.guide_article_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center; 
    width: 100%;
    max-width: 1000px;
}


.card_guide {
    max-width: 300px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
  }

@media screen and (max-width: 600px) {
    .guide_article_wrapper {
        justify-content: center;
    }
    .card_guide_wrapper {
        width: 100%;
    }
}

.card_guide_figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    min-width: 100%;
    max-width: 300px;
    margin: 0;
  }

.card_guide_img {
    max-width: 100%;
    min-width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
  }

.card_guide_box {
    padding: 1rem;
}

.card_guide_title {
    margin: 0px;
    height: 40px; /* Klärung */
}


.card_guide_body {
    text-align: left;
    margin-bottom: 1.25rem;    
    font-weight: 400;
    max-width: 350px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ggfs. löschen */
.guide_button, .guide_button {
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

a.card_guide_button {
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
}

hr.card_guide_line {
    border-top: 1px solid #bbb;
    border-radius: 20px;
    margin: 15px;
}



/* ### Discover.html ## */

.nav_tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nav_tab ul{
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav_tab ul li {
    list-style-type: none;
    margin: 0 2%;
}

/* ## Articles ## */

.article_text_body {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    display:block;
}

.article_img_solo{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article_img_wrapper{
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.article_img_big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article_img_small {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 50%;
    height: 150px;
    z-index: 1;
    object-fit: cover;
    background: #fff;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    transform: rotate(3deg);
}


@media screen and (min-width: 600px){

    .article_section_wrapper{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10%;
    }

    .article_section_wrapper:nth-child(odd) {
        flex-direction: row;
    }

    .article_text_body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .article_img_small {
        bottom: -100px;
    }
}    

/* ### Testing ### */
.test_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 1000px;  
}

.test_outterflexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid blue;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
}

.test_outterflexbox:nth-child(even) {
    justify-content: end;
    align-items: end;
}

.test_flexbox{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid salmon;
}

.test_bild {
    height: 300px;
    width: 300px;
    background-color: green;
}

.test_content {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.test2_wrapper {
    width: 100%;
    max-width: 1300px;
    border: 1px salmon solid;  
}

.test2_gallery_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 450px;
    width: 100%;
    border: 1px solid green;
}

.test2-img_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.test2_gallery_col {
    width: 33.3%;
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.test2_mid_top {
    position: relative;
    width: 100%;
    height: calc(60% - 3.5px);
    margin-bottom: 7px;
}

.test2_mid_down {
    position: relative;
    width: 100%;
    height: calc(40% - 3.5px);
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
}

.test2_mid_down_l, .test2_mid_down_r {
    position: relative;
    width: 50%;
    height: 100%;
}

.test2_mid_down_l {
    margin-right: 7px;
}

.test2_mid_down_r {
    margin-left: 7px;
}

.test2_img {
    width: 100%;
    height: 100%;
    display: block;
}

.test2-img_gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7287115529805672) 0%, rgba(0,0,0,0.7175070711878502) 18%, rgba(0,0,0,0) 100%); 
    pointer-events: none;
    color: aliceblue;
    border: 1px solid red;
}

@media (max-width: 600px) {
    .test2_gallery_wrapper {
        flex-direction: column;
        height: auto;
    }
    
    .test2_gallery_col {
        width: 100%;
        height: auto;
        padding: 0;
        border: 1px blue solid;
    }
    
    .test2_img {
        width: 90%;
        height: 300px;
        margin: 10px auto;
        display: block;
        object-fit: cover;
    }

    .test2-img_gradient {
        width: 90%;
        height: 20%;
        left: 5%;
        margin: 10px auto;
    }
    
    .test2_mid_top, .test2_mid_down, .test2_mid_down_l, .test2_mid_down_r {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0px;
        padding: 1px;
    }
}
